.edittodo-nav{
    display: flex;
    align-items: center;
    background-color: #9395D3;
    height: 118px;
    width: 600px;
    gap: 50px;
}
.editbtn{
    margin-left:20px ;
    border: none;
    background:transparent ;
    outline: none;
}
.edittodo-h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: white;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 400px;
    margin-top: 50px;
}
.title-input{
    border: none;
    border-bottom:1px solid #8B8787 ;
}
.detail-input{
    border: none;
    border-bottom:1px solid #8B8787 ;
}
.btns{
    display: flex;
    width: 450px;
    margin-top: 50px;
    justify-content: space-between;
    gap: 200px;
}
.update{
    height: 65.06521606445312px;
    width: 170px;
    border-radius: 15px;
    background-color: #9395D3;
    border: none;
    color: white;
    font-size: 15px;
    box-shadow: 2px 2px 5px;
    box-shadow: 3px 3px 10px black;
}
.cancel{
    height: 65.06521606445312px;
    width: 170px;
    border-radius: 15px;
    background-color: #9395D3;
    border: none;
    color: white;
    font-size: 15px;
    box-shadow: 3px 3px 10px black; 
}