*{
    padding: 0%;
    margin: 0%;
}
.todo-nav{
    display: flex;
    align-items: center;
    background-color: #9395D3;
    justify-content: space-between;
    height: 118px;
    width: 600px;
}
.todo-h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: white;
    margin-left: 20px;
}
.calender{
    margin-right: 20px;
}
@media (min-width:0px) and (max-width:360px){
    .todo-nav{
        width: 100%;
    }
}
