.dascopm-list {
    display: flex;
    width: 550px;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    height: 82px;
    background-color: white;
    box-shadow: 2px 2px 8px;
    margin-bottom: 10px;
}

.dascopm-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
}

.dascopm-title h5 {
    color: #9395D3;
    font-weight: 700;
    font-size: 13px;
}

.dascopm-title h6 {
    font-size: 10px;
    font-weight: 400;
}

.dascomp-body {
    background-color: #d6d7ef;
    width: 600px;
    height: 700px;
    padding-top: 20px;
}

@media (min-width:0px)and (max-width:360px) {
    .dascopm-list{
       width: 95%;
        margin-right: 10px;
        margin-left: 10px;
    }
    .dascomp-body{
        width: 100%;
    }
}